{{!< default}} <main id="main">

    <div>
        <h2>What</h2>
        <p>In this site, we explore the ins and outs of topics in politics and culture through the lenses of history and
            data analytics. This collection of writing, guides, projects, recipes and photographs hopes to give you a
            glimpse of the world through my eyes.</p>
    </div>
    <div></div>
    {{!-- Featured Post --}}
    <section class="posts">
        {{#is "home"}}
        {{#get "posts" filter="featured:true" limit="4" as |featured_post|}}
        {{#foreach featured_post}}
        <article class="post featured">
            <header class="major">
                <span class="date">{{date format="MMM D, YYYY"}}</span>
                <h2><a href="{{url}}">{{title}}</a></h2>
                <p>{{excerpt words="44"}}</p>
            </header>
            {{#if feature_image}}
            <a href="{{url}}" class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
            {{/if}}
            <ul class="actions special">
                <li><a href="{{url}}" class="button large">Full Story</a></li>
            </ul>
        </article>
        {{/foreach}}
        {{/get}}
        {{/is}}
    </section>

    </main>